{% extends "layout.html.twig" %}

{% block title %}

    Register

{% endblock %}

{% block body %}
    {% include "components/_nav.html.twig" %}
    <h1>Register</h1>

    {% block content %}
        <div class="row">
            <div class="col-xs-8 col-xs-push-2">

                <h3>Inscrivez vous</h3>


                {{ form(form, {attr:{novalidate: 'novalidate'}}) }}


            </div>
        </div>
    {% endblock %}

{% endblock %}

{#                {{ form_start(registrationForm) }}#}
{#                {{ form_row(registrationForm.username) }}#}
{#                {{ form_row(registrationForm.plainPassword) }}#}

{#                {{ form_end(registrationForm) }}#}